@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.hero{
    width: 100%;
    min-height: 100vh;
    background-image: url(./images/back-image.png);
    background-position: center;
    background-size: cover;
    padding: 10px 10%;
    overflow: hidden;
    position: relative;
}
nav{
    padding: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 140px;
}
nav ul li{
    /* make the li in a row without display flex */
    display: inline-block;  
    list-style: none;
    margin: 10px 15px;
}
nav ul li a{
    text-decoration: none;
    color: #333;
    font-weight: 400;
}
.login-btn{
    text-decoration: none;
    color: #333;
    margin-right: 15px;
    font-weight: 400;
}
.btn{
    display: inline-block;
    text-decoration: none;
    padding: 14px 40px;
    color: #fff;
    background-image: linear-gradient(45deg, #df4881, #c430d7);
    font-size: 14px;
    border-radius: 30px;
    border-top-right-radius: 0px;
    transition: 0.5s;
}
.content{
    margin-top: 10%;
    max-width: 600px;
}
.content h1{
    font-size: 50px;
    color: #222;
}
.content p{
    margin: 10px 0px 30px;
    color: #333;
    /* the below line is added after the @keyframes had added; */
    animation-delay: 0.5s;
}
.content .btn{
    padding: 15px 80px;
    font-size: 16px;
    /* the below line is added after the @keyframes had added; */
    animation-delay: 1s;
}
.btn:hover{
    border-top-right-radius: 30px;
}
.feature-img{
    width: 400px;
    position: absolute;
    bottom: 0px;
    right: 10%;
}

.feature-img.anim-right-to-left{
    animation-delay: 1s;
}
.anim-right-to-left{
    opacity: 0;
    /* 40px moves the elements from right to left */
    transform: translateX(40px);
    animation: move-right-to-left 0.5s linear forwards;
}

@keyframes move-right-to-left{
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}

.anim-left-to-right{
    opacity: 0;
    /* -40px moves the elements from left to right */
    transform: translateX(-40px);
    animation: move-left-to-right 0.5s linear forwards;
}

@keyframes move-left-to-right{
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}